.dropdown-item:focus, .dropdown-item:hover {
  color:#16181b;
  text-decoration:none;
  background-color:rgba(255,255,255,0.1);
}

.navbar-light .navbar-nav .nav-link {
  color:#ffffff;
}

.navbar-light .navbar-brand {
  color:#fff;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color:rgb(20,133,238);
}

