.select2-container--default .select2-selection--multiple .select2-selection__choice{
	background-color:rgb(0, 0, 0, 0.1);
	color:black;
}
#vertical-table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #fff;
}
